services:
  postgres-prothSync:
    image: 'postgres:18'
    container_name: postgres-prothSync
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    volumes:
      - prothSync_postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - db-net

networks:
  db-net:
    name: db-net

volumes:
  prothSync_postgres_data: